.App {
  text-align: center;
  background-color: white;
  width: 100vw;
  overflow: hidden;
}
#top {
  background-color: rgb(34, 34, 34);
  height: 40vh;
  max-height: 45vh;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}
.n {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.navv {
  background-color: rgb(46, 46, 46);
}
.l {
  font-family: 'Montserrat', sans-serif;
}

.sp {
  margin: 5px;
  width: 30vw;
  
}
.space {
  height: 15%;
}
#jfc {
  height: 43%;
  width: 27%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(./images/logo.png);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
}
.iconz {
  width: 100;
  height: 1vh;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 4vh;
  background-image: url(images/header-line.png); 
  background-size: 100% 100%;
  text-align: center;
  padding-top: -3%;
  padding-bottom: 3%;
  padding-left: auto;
  padding-right: auto;
}
.iconRow {
  max-height: 15vh;
  max-width: 15vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  margin-bottom: auto;
  background-color:rgb(34, 34, 34);

}

.icon {
  width: 3vw;
  height: auto;
  margin: .25vw;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-between;
}
@media (max-width: 800px){
  #top {
    height: 30vh;
    max-height: auto;
  }
  #jfc {
    margin: auto;
    padding-top: 2%;
    background-position: center center;
    width: 40vh;
  }
  .iconz {
    height: auto;
    width: 100vw;
    background-image: none;
    background-size: auto;
    padding: auto;
    margin: auto;
    
  }
  .iconRow {
    height: auto;
    width: auto;
    max-width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
  }
  .icon {
    width: auto;
    height: 50px;
  
  }
}
.middle {
  background-color: rgb(34, 34, 34);
  height: 80%;
  width: 100%;
  position: relative;
  text-align: center;
}
.video {
  position: relative;
  
}
.overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 8vh;
  font-family: 'Montserrat', "Work Sans", 'sans-serif';
  font-weight: bold;
}
.overlay:hover {
  color: white;
}


.overlay2 {
  background-color:rgb(43, 42, 42);
  color: white;
  font-size: 2.45vh;
  font-family: 'Work Sans', 'sans-serif';
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 40%;
  margin-bottom: 1%;
  line-height: 5%;
  z-index: 2;
  
}
.o2text {
  width: 30%;
  max-width: 30%;
  text-align: center;
  margin: auto;
  line-height: normal;
  height: 5vh;
  z-index: 1;
}

.bottom {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:white;
  width: 100%;
  height: 26vh;
  z-index: 1;
}
@media (max-width: 800px){
  .bottom {
    display: none;
  }
}
@media (max-width: 800px){
  .middle {
    height: auto;
  }
  .video {
    height: 100%;
  }
  .overlay2 {
    display: none;
  }
  .overlay {
    font-size: 4vh;
  }
}
.mobilegreyspace {
  display: none;
}
@media (max-width: 800px){
  .mobilegreyspace {
    display: block;
    width: 100vw;
    height: 20vh;
    background-color: rgb(43, 42, 42);
  }
}
.lower {
  position: relative;
  background-color: white;
  width: 100%;
  margin-top: 1%;
}

.legacy {
  color: white;
  font-size: 2.45vh;
  font-family: 'Work Sans', 'sans-serif';
  font-weight: bold;
  text-align: center;
  background-color: rgb(3, 3, 95);
  width: 100%;
  height: 40%;
  margin-bottom: 2%;
  line-height: 5%;
  z-index: 2;
}
@media (max-width: 800px){
  .legacy {
    display: none;
  }
}
a {
  text-decoration: none !important;
}
.box1 {
  display: flex;
  width: 100vw;
  align-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  background: gray;
  width: 23%;
  min-width: 230px;
  max-width: 50%;
  margin: 1%;
}
.pics {
  height: 100%;
  width: 100%;
}
@media (max-width: 800px){
  .item {
    min-width: 300px;
    max-width: auto;
    width: 300px;
    margin: 3%;
  }
}
.line1 {
  display: flex;
  width: 100vw;
  align-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.cols {
  background-color: rgb(233, 233, 233);
  width: 690px;
  min-width: 320px;
  max-width: 98%;
  height: 6vh;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: .5%;
  text-align: center;
  font-family: 'Work Sans', 'sans-serif';
  color: black;
  font-weight: bolder;
  font-size: 2.45vh;
  line-height: 6vh;
}
.cw {
  font-size: 14px;
  width: 90%;
  min-width: 320px;
  max-width: 90%;
  margin: auto;
}
.line {
  border: 5px solid black;
  height: 1px;
  width: 100%;
}
.give {
  height: 200vh;
  background-size: cover;
  padding-top: 3%;
  background-image: url(./images/bwbg.jpg);
}

.givectr{
  width: 70%;
  background-color: white;
  height: 180vh;
  margin: auto;
  backdrop-filter: blur(5px);
}
.giveimg {
  width: 70%;
  max-width: 70%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.g1 {
  font-size: 4vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 3%;
}
.p1 {
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: 'Montserrat', sans-serif;
}
.g2 {
  margin-top: 3%;
  font-size: 4vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 3%;
  margin-top: 5%;
}
.button-block {
  display: inline-flex;
  width: 32%;
}
.unlink {
  text-decoration: none;
  color: white;
}
.unlink:hover {
  color: white;
}
.unlink2 {
  text-decoration: none;
  color: black;
}
.unlink2:hover {
  color: black;
}
.kidsmain {
  width: 100%;
  height: auto;
}
.kbox {
  display: inline-flex;
  height: 90%;
  width: 45%;
  margin: 1%;
}
#littleones {
  background-image: url(./images/littleones.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 10vw;

}
#jfckids {
  background-image: url(./images/jfckids.png);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: 11.5vw 10vh;
}
.kwrap {
  width: 100%;
  height: 50vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 5%;
}
.livePage {
  background-color:rgb(34, 34, 34);
  width: 100%;
  height: 97vh;
}
.test {
  display: inline-flex;
  font-size: 11vh;
  margin-top: -2%;
  margin-left: .5%;
  margin-right: .5%;
}
#timer {
  width: 100%;
  background-color:white;
  color: black;
  font-family: 'Montserrat', sans-serif;
  height: 40vh;
  padding-top: 2%;
  padding-bottom: 5%;
  margin-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
}
#liveTitle {
  font-size: 9vh;
}
.timerInfo {
  margin: -2vh;
  padding: .75vh;
}

@media (max-width: 800px){
  .livePage {
    height: auto;
  }
  #timer {
    height: auto;
  }
  .box1 {
    height: auto !important;
    min-height: 100vh;
  }
}

